[force_move]
enable_force_move: True

[AFC_extruder extruder]
pin_tool_start: buffer
pin_tool_end: ebb36:PB8
tool_stn: 35                    # Distance from the toolhead sensor to the tip of the nozzle in mm.
tool_stn_unload: 48             # Unload distance for the toolhead in mm.
tool_sensor_after_extruder: 0   # Distance in mm.
tool_unload_speed: 25           # Unload speed in mm/s. Default is 25mm/s.
tool_load_speed: 15             # Load speed in mm/s. Default is 25mm/s.

#[filament_switch_sensor bypass]
#switch_pin: turtleneck:PB5
#pause_on_runout: False

