#####################################################################
# includes
#####################################################################

# Mainsail
[include mainsail.cfg]

# Main MCU board
[include octopus-pro-429.cfg]

# CAN toolhead
[include ebb36-v12.cfg]

# AFC hardware
[include AFC/*.cfg]

# Other hardware
[include toolhead0.cfg]
[include beacon.cfg]
[include motors.cfg]
#[include adxl-rp2040.cfg]
#[include rpi.cfg]

# modules
[include shaketune.cfg]

# Macros
[include ./macros/*.cfg]

#####################################################################
# Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 13000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.5

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  A Stepper - Left
[stepper_x]
position_endstop: 395
position_min: 0
position_max: 395
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

##  B Stepper - Right
[stepper_y]
position_endstop: 400
position_min: 0
position_max: 400
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Rear Center
[stepper_z]
position_min: -2.5
position_max: 360
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
sensor_type: Generic 3950
max_power: 0.8
pwm_cycle_time: 0.02506 # 39.9Hz
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Temperature sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
min_temp: 0
max_temp: 100
gcode_id: C

#####################################################################
#   Fan Control
#####################################################################

[temperature_fan mcu]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100
target_temp: 30
control: watermark
shutdown_speed: 0

[temperature_fan pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
target_temp: 30
control: watermark
shutdown_speed: 0

[fan_generic rattrap]
#kick_start_time: 0.5
hardware_pwm: True
#cycle_time: 0.00004 # 25 kHz
tachometer_ppr: 2

#####################################################################
#   LEDs
#####################################################################

[output_pin daylight]
pwm: True
cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[bed_mesh]
algorithm: bicubic
speed: 800
horizontal_move_z: 5
mesh_min: 15, 35
mesh_max: 375, 375
probe_count: 71, 69   # 5mm spacing
zero_reference_position: 197.5, 193

[z_tilt]
z_positions:
    198.9,370
    13.3,-1.7
    383.3,-1.7
points:
#    192.5,330
#    30,25
#    340,25
    197.5,335
    20,0
    375,0

speed: 800
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075

#####################################################################
# Resonances
#####################################################################

[resonance_tester]
probe_points:
   197.5, 193, 10      # slightly above the middle of the bed
sweeping_period: 1.2   # 0 for old non sweeping measurement (analysis), 1.2 for sweeping (resonance measurement)

[input_shaper]
shaper_freq_x: 49
shaper_type_x: mzv
shaper_freq_y: 33.4
shaper_type_y: mzv

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.014
#*# pid_ki = 1.790
#*# pid_kd = 67.695
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.971
#*# pid_ki = 1.204
#*# pid_kd = 650.667
#*#
#*# [beacon model default]
#*# model_coef = 1.4664716791678714,
#*# 	  1.7338436465751623,
#*# 	  0.6821650183105678,
#*# 	  0.6289288076574192,
#*# 	  0.41673404881862863,
#*# 	  -0.34444858893922875,
#*# 	  -0.2399450704035144,
#*# 	  0.3398025116225831,
#*# 	  0.2748628778015219,
#*# 	  0.04474150229877165
#*# model_domain = 3.141970902249143e-07,3.321053207825876e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 60.531817
#*# model_offset = 0.29000
