# This file contains common pin mappings for the 8 stepper motor "Mellow Super
# 8 HV Board" board. To use this config, the firmware should be compiled for
# the STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the Super 8 HV. Instead, after
# running "make", copy the generated "out/klipper.bin" file to a file named
# "firmware.bin" on an SD card and then restart the Super 8 HV with that SD card.

# Serial options:
#  * PA11/PA12 for serial over USB
#  * PA9 /PA10 for serial UART
#  * PD8 /PD9  for serial UART (to ESP32 module)

# See docs/Config_Reference.md for a description of parameters.

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_420030000650304235323120-if00
restart_method: command
##--------------------------------------------------------------------

##  A Stepper - Left
[stepper_x]
step_pin: PE2  # Drive0
dir_pin: PC5
enable_pin: !PF11
endstop_pin: PG12  # IO0
step_pulse_duration: 0.000004 # this is a known issue with mellow boards. some have reported success with values as low as .000001. Note that this will limit your top speed
microsteps: 16

[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi3
interpolate: true

##  B Stepper - Right
[stepper_y]
step_pin: PE3  # Drive1
dir_pin: PF13
enable_pin: !PF14
endstop_pin: PG11  # IO1
step_pulse_duration: 0.000004 # this is a known issue with mellow boards. some have reported success with values as low as .000001. Note that this will limit your top speed
microsteps: 16

[tmc5160 stepper_y]
cs_pin: PF12
spi_bus: spi3
interpolate: true

## Z0 Stepper - Rear Center
[stepper_z]
step_pin: PE14  # Drive3
dir_pin: !PE8
enable_pin: !PE9

[tmc2209 stepper_z]
uart_pin: PE7

## Z1 Stepper - Front Left
[stepper_z1]
step_pin: PE15  # Drive4
dir_pin: !PE11
enable_pin: !PF2

[tmc2209 stepper_z1]
uart_pin: PE10

## Z2 Stepper - Front Right
[stepper_z2]
step_pin: PE1  # Drive5
dir_pin: !PF0
enable_pin: !PC15

[tmc2209 stepper_z2]
uart_pin: PF1

[extruder]
step_pin: PE0  # Drive6 
dir_pin: !PG3
enable_pin: !PG4
heater_pin: PB1 # Heat1
sensor_pin: PF4 # ADC_0

[tmc2209 extruder]
uart_pin: PG2

[heater_bed]
heater_pin: PB0
sensor_pin: PC1

[probe]
pin: ^PG10

[fan]
pin: PA0  #FAN0

[heater_fan hotend_fan]
pin: PA1

[controller_fan controller_fan]
pin: PA2  #FAN2

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE12, EXP1_3=PB2, EXP1_5=PC14, EXP1_7=PG14, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PG8, EXP1_6=PC13, EXP1_8=PG13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PB7, EXP2_5=PB6, EXP2_7=PG15,  EXP2_9=<GND>,
    EXP2_2=PA4, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<5V>
