[gcode_macro TOOLHEAD_PARK]
description: Helper: park toolhead
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set th = printer.toolhead %}
  {% set x_park = params.X|default(th.axis_maximum.x-5.0)|float %}
  {% set y_park = params.Y|default(th.axis_maximum.y-5.0)|float %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  # GOTO_POSITION X={x_park} Y={y_park}
  GOTO_BUCKET

[gcode_macro GOTO_POSITION]
description: Helper: safely moves to position
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set th = printer.toolhead %}
  {% if  params is defined and params.X is defined %}
    {% set x = params.X|float %}
  {% else %}
    { action_raise_error("X parameter is required") }
  {% endif %}
  {% if  params is defined and params.Y is defined %}
    {% set y = params.Y|float %}
  {% else %}
    { action_raise_error("Y parameter is required") }
  {% endif %}
  {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity * 60)|int %}
  {% set z_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = th.axis_maximum.z|float %}
  {% set act_z = th.position.z|float %}
  {% if act_z < (max_z - z_delta) %}
    {% set z_safe = z_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x} Y{y} F{speed}
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro GOTO_CENTER]
gcode:
    {% set th = printer.toolhead %}
    GOTO_POSITION X={th.axis_maximum.x//2} Y={th.axis_maximum.y//2}  # move the nozzle to the center of the bed
#    {% set probe = printer.configfile.settings['probe'] %}
#    GOTO_POSITION X={th.axis_maximum.x//2-probe.x_offset} Y={th.axis_maximum.y//2-probe.y_offset}  # move the probe to the center of the bed
