[gcode_macro M204]
description: Set and limit acceleration to cfg value
rename_existing: M204.1
gcode:
  # get accel from parameter
  {% if 'S' in params %}
    {% set param_accel = params.S|float %}
  {% elif 'P' in params %}
    {% set param_accel = params.P|float %}
  {% elif 'T' in params %}
    {% set param_accel = params.T|float %}
  {% endif %}
  # calc accel_to deccel
  {% set param_accel_to_decel = (param_accel / 2.0) %}
  # get limits from config
  {% set max_accel = printer.configfile.settings.printer.max_accel|float %}
  {% set minimum_cruise_ratio = printer.configfile.settings.printer.minimum_cruise_ratio|float %}
  # limit values to config values 
  {% if param_accel < max_accel %}
    {% set accel = param_accel|int %}
  {% else %}
    {% set accel = max_accel|int %}
  {% endif%}
  {% if param_accel_to_decel < minimum_cruise_ratio %}
    {% set accel_to_decel = param_accel_to_decel|int %}
  {% else %}
    {% set accel_to_decel = minimum_cruise_ratio|int %}
  {% endif %}
  # end of definition
  SET_VELOCITY_LIMIT ACCEL={accel} MINIMUM_CRUISE_RATIO={accel_to_decel} #TODO: review

#[gcode_macro T0]
#gcode:
#  ACTIVATE_EXTRUDER EXTRUDER=extruder

[gcode_macro M572]
gcode:
  {% if 'S' in params %}
    SET_PRESSURE_ADVANCE ADVANCE={ params.S|float }
  {% endif %}

[gcode_macro M600]
gcode:
  PAUSE

[gcode_macro M601]
gcode:
  PAUSE
